body{
    margin: 0px;
    padding: 0px;
}
.header {
    background-image: url("img/background.png");
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    border: 3px solid #fff;
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ff015b;
}

.header__title--name{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Handlee', cursive;
}

.header__title--dev {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Cute Font', cursive;
    text-transform: uppercase;


}