body {
    margin: 0px;
    padding: 0px;
    color: #313131;
    font-family: 'Comfortaa', cursive;


}

.header {
    background-image: url("img/background.png");
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    border: 3px solid #fff;
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ff015b;
}

.header__title--name {
    font-size: 55px;
    font-weight: bold;
    font-family: 'Handlee', cursive;
}

.header__title--dev {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Cute Font', cursive;
    text-transform: uppercase;


}

.menu-d {
    background: rgb(255, 0, 128) !important;
    transition: background 2.0s;
    -webkit-transition: background 2.0s;
    -moz-transition: background 2.0s;
    -ms-transition: background 2.0s;
    -o-transition: background 2.0s;
}

#menu {
    background: rgb(240, 255, 23);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1030;

}

/* /////////////////// */


.body__title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #ff015b;
    margin-top: 20px;

}

.imagem {
    width: 255px;

}

.imagem img {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex__col {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.body__subtitle {

    text-align: right;
    color: #f0a262;
    font-weight: bold;
    font-size: 10px;
}

/* .container {
    padding: 60px 0px;
} */


/* /////////////////// */



.skills__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* /////////////////// */

.skills1__background{
    background: #762d83;
    color: white;
 }

.skills1_title{

    font-family: 'Unica One', cursive;
    font-size: 40px;
    font-weight: bold;
    color:white;
    margin-top: 20px;

}

.circleflex{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;''
}

.circle{
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50px;
    margin: 10px;
}


.skills_text{
    text-align: center;
    width: 80%;
}

.container_flex{
    padding: 60px 0px;
}

.circle img{
    width: 100%;
    padding: 7px;
}

.cssimg{ 
    padding: 7px 16px !important;
}


.vtex{
    padding: 16px 7px !important;
}






